<!-- Hide on mobile - Look Around Apps -->
{% assign hide_on_mobile = false %}
{% if canonical_url contains '/pages/foundation-finder' or canonical_url contains '/pages/skin-match' %}
  {% assign hide_on_mobile = true %}
{% endif %}

<div id="breadcrumb" class="desktop-12 tablet-6 mobile-3 laa-mobile-hide">
  <a href="/" class="homepage-link" title="{{ 'general.breadcrumbs.home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
  {% if template contains "product" %}
  {% if collection %}
    <span class="separator">></span>
    {% if collection.handle %}
    {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
    {{ collection.title | link_to: url }}
    {% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}
    {{ collection.title | link_to_type }}
    {% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}
    {{ collection.title | link_to_vendor }}
    {% endif %}
  {% else %}
    <span class="separator"> > </span>
    {% assign product_collection = product.collections.first %}
    {{ product_collection.title | link_to: product_collection.url }}
  {% endif %}
  &rlm;
  <span class="separator"> > </span>
  <span class="page-title">{{ product.title }}</span>
  
  {% elsif template == "article" %}
  <span class="separator">></span>
  {{ blog.title | link_to: blog.url }}
  <span class="separator">></span>
  <span class="page-title">{{ page_title }}</span>
  {% elsif template contains "collection" %}
  {% if current_tags.size > 0 %}
  <span class="separator">></span>
  {{ collection.title | link_to: collection.url }}
  <span class="separator">></span>
  <span class="page-title">{{ current_tags.first }}</span>
  {% else %}
  <span class="separator">></span>
  <span class="page-title">{{ page_title }}</span>
  {% endif %}
  {% else %}
  <span class="separator">></span>
  <span class="page-title">{{ page_title }}</span>
  {% endif %}
</div>

<div class="clear"></div>
