{% include 'sca_freegift_price' with product %}
  {% form 'product', product, data-product-form:product_form_config %}

  <script class="product-json" type="application/json">
    {{ product | json }}
  </script>

  <div class="product-description">

    {% if section.settings.show_vendor %}
      <h3>{{ 'products.product.designer' | t }}: {{ product.vendor }}</h3>
      <div class="clear"></div>
    {% endif %}

    {%- if settings.show_multiple_currencies -%}
      {% assign price = current_variant.price | money_with_currency %}
      {% assign compare_price = current_variant.compare_at_price | money_with_currency %}
    {%- else -%}
      {% assign price = current_variant.price | money %}
      {% assign compare_price = current_variant.compare_at_price | money %}
    {%- endif -%}
    {%- if current_variant.compare_at_price > current_variant.price -%}
      {% assign onsale = true %}
    {%- endif -%}

    {% if section.settings.product_note != blank %}
    {% unless product.type == 'Gift Card' %}
      <p class="product-note">
        {{ section.settings.product_note | escape }}
      </p><div class="clear"></div>
    {% endunless %}
    {% endif %}

    {% if product.options.size > 1 %}
     <div class="select" {% if sca_product_variantCount == 1 %}style="display: none;"{% endif %}>
       <select id="product-select-{{ product.id }}" name='id'>
         {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

           <option value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
             {{ variant.title }} - {{ variant.price | money }}
           </option>

{%endunless%}
{%endunless%}
         {% endfor %}
       </select>
     </div>
    {% elsif product.options.size == 1 and sca_product_variantCount > 1 %}
     <div class="select">
       <label>{{ product.options[0] }}</label>
       <select id="product-select-{{ product.id }}" name='id'>
         {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

           <option data-sku="{{ variant.sku }}" value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
             {{ variant.title }} - {{ variant.price | money }}
           </option>

{%endunless%}
{%endunless%}
         {% endfor %}
       </select>
     </div>
    {% elsif sca_product_variantCount == 1 %}
     <select id="product-select-{{ product.id }}" name="id" {% if sca_product_variantCount == 1 %}style="display: none;"{% endif %}>
       {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

         <option value="{{ variant.id }}" {% if variant == current_variant %}selected="selected"{% endif %}>
           {{ variant.title }} - {{ variant.price | money }}
         </option>

{%endunless%}
{%endunless%}
       {% endfor %}
     </select>
    {% else %}
     <div class="what-is-it">
       {% if product.options.first != 'Title' %}
         <label>{{ product.options.first }}:</label>
         {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

           <span class="it-is">{{ variant.option1 | escape }}</span>

{%endunless%}
{%endunless%}
         {% endfor %}
       {% endif %}
     </div>
     <div class="product-variants"></div><!-- product variants -->
     <input  type="hidden" id="{{ variant.id }}" name="id" data-sku="{{ variant.sku }}" value="{{ product.variants[0].id }}" />
    {% endif %}

    {% if section.settings.show_sku %}
      <div class="sku">
        <label style="display: inline-block; line-height: 1.6em;">{{ 'customer.order.details.sku' | t }}:</label> <span class="variant_sku">{{ current_variant.sku }}</span>
      </div><div class="clear"></div>
    {% endif %}
    <div id="productPriceAndPoints">
      <div id="product-price">
        <span class="product-old-price " itemprop="price" >
          <span class="money onsale">{{ compare_price  }}</span>
        </span>
        <span class="was"></span>
        <span class="product-price" itemprop="price">
          <span class="money" data-lion-price-for-product-id="{{ product.id }}">{{ price }}</span>
        </span>
        {% render 'product-weight-boa', product: product %}
      </div>
	</div>

    {% if product.url contains "products/gift-card" %}
    	<div id="skt-fields">
          <p style="text-align:right">פנק/י את אהובך עם ברכה</p>
        <div>
            <input id="sktcgc_to" style="width:100%;margin-bottom:10px;" type="text" name="properties[To]" value="" placeholder="מקבל המתנה
        " />
        </div>
        <div>
            <input id="sktcgc_from" style="width:100%;margin-bottom:10px;" type="text" name="properties[_From]" value="" placeholder="שם השולח"/>
        </div>
        <div>
            <textarea id="sktcgc_msg" style="height:80px;width:100%;margin-bottom:10px;" placeholder="ברכה"></textarea>
        <input type="hidden" id="sktcgc_msgprop" name="properties[_Msg]" value="" />
        </div>
        </div>
    {% endif %}
    
<!-- NBIS installation -->
<script data-app="esc-out-of-stock" type="text/json">[{% for variant in product.variants %}{"id":{{ variant.id }},"title":"{{ variant.title | escape }}","option1":{% if variant.option1 %}"{{ variant.option1 | escape }}"{% else %}null{% endif %},"option2":{% if variant.option2 %}"{{ variant.option2 | escape }}"{% else %}null{% endif %},"option3":{% if variant.option3 %}"{{ variant.option3 | escape }}"{% else %}null{% endif %},"sku":{% if variant.sku %}"{{ variant.sku | escape }}"{% else %}null{% endif %},"requires_shipping":{{ variant.requires_shipping }},"taxable":{{ variant.taxable }},"featured_image":{% if variant.featured_image %}"{{ variant.featured_image }}"{% else %}null{% endif %},"available":{{ variant.available }},"name":"{{ variant.name }} | escape","public_title":"{{ variant.public_title }} | escape","options":{{ variant.options | json }},"price":{{ variant.price }},"weight":{% if variant.weight %}{{ variant.weight }}{% else %}0{% endif %},"compare_at_price":{% if variant.compare_at_price %}{{ variant.compare_at_price }}{% else %}null{% endif %},"inventory_quantity":{{ variant.inventory_quantity }},"inventory_management":{% if variant.inventory_management %}"{{ variant.inventory_management }}"{% else %}null{% endif %},"inventory_policy":{% if variant.inventory_policy %}"{{ variant.inventory_policy }}"{% else %}null{% endif %},"barcode":{% if variant.barcode %}"{{ variant.barcode }}"{% else %}null{% endif %}}{% unless forloop.last %},{% endunless %}{% endfor %}]</script>
    
{% comment %} extra add to cart button {% endcomment %}
    <div class="product-add-to-cart">
      <input id="AddToCart" type="submit" name="button" class="{% if section.settings.show_payment_button %} secondary-button{% endif %}" value="{{ 'products.product.add_to_cart' | t }}" />
	</div>

	<div id="productAdd">
      <div class="product-adder">
          <input id="AddToCart" type="submit" name="button" class="{% if section.settings.show_payment_button %} secondary-button{% endif %}" value="{{ 'products.product.add_to_cart' | t }}" />
      </div>

      {%- if section.settings.show_quantity_selector -%}
      <div class="product-qty">
        <input type='button' value='-' class='qtyminus' field='updates_{{ item.id }}' />
        <input type="text" name="quantity" class="product-quantity field" id="updates_{{ item.id }}" value="1">
        <input type='button' value='+' class='qtyplus' field='updates_{{ item.id }}' />
      </div>
      {%- else -%}
      <input type="hidden" name="quantity" value="1">

      {%- endif -%}
	</div>
    {% if section.settings.show_payment_button %}
    {{ form | payment_button }}
    {% endif %}
<div id="esc-oos-form"></div>
  </div>
{% endform %}

<style>

  span.product-old-price{
    color: #000000;
  }
  
  
  #productPriceAndPoints{
   	margin: 25px 0 5px;
  }
  
  #product-price span.product-old-price span.money.onsale{
    opacity: 0.7;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.85;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    text-decoration: line-through;
  }
  #productAdd  input#AddToCart{
	height: 50px;
    font-weight: bold;
    float: left;
    display: inline;
    font-size: 16px;
    margin-bottom: 0;
    min-height: 47px;
    padding: 0 0 0 0;
  }

  #productAdd{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 67px;
  }
  
  
  .product-qty {
    max-width: 35%;
    width: 100%;
    display: flex;
    margin-left: 0.8rem;
    height:50px;
    border: 1px solid #000;
  }
  .product-qty input { margin-bottom: 0; background: #fff; border: 0; color: #000; }
  
  #productAdd .product-adder{
    order: 1;
    margin: 0;
    width: 100%;
  }
  
  
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  
  @media screen and (max-width: 1450px ){
  #productQuantity{
    max-width: 40%; }
  }
  
  
  @media screen and (max-width: 1220px ){
    #productsRight .product-title{
	    margin: 0 0 40pt 0;
    }
    
    #productsRight .product-title h1{
	    text-align: right;
    }

    #productsRight .rte{
    	margin-bottom: 30px;
    }
    
    
    #productPriceAndPoints{
      margin: 0 0 0 0;
      display: flex;
      flex-direction: column-reverse;
  	}
    
    #getPoints{
      display: flex;
      margin: 0 0 17pt 0;
    }
    
    .register-get-points{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-right: 15px;
    
    }
    
    #getPoints img.get-points-img{
      width:41px;
      height: 29px;
      padding-top: 0px;
      margin-top 6px;
    }
    
   
    #productPriceAndPoints #getPoints span.get-points{
      padding-right: 0px;
      font-size: 16px;
    }
    
    #productPriceAndPoints #getPoints span.register{
      padding-right: 0px;
      font-size: 13px;
    }
    
    #productsRight .product-description{
    margin-top: 0px;
      
    }
    
    
    #productPriceAndPoints div#product-price{
    	margin: 0 0 0 0;	
      	text-align: right;
    }
    
    #product-price .product-price{
    	font-size: 25px;
    }
    
    #product-price .product-old-price{
    	font-size: 17px;
    }
  
    .product-description #productAdd {
	 	position: fixed;
      	bottom: 0;
  		width: 100%;
      	max-height: 57px;
        z-index: 10;
	    right: 0;
    }  
    #productAdd .product-adder{
      	max-height: 50px;
    }
    
    .product-description #productAdd input#AddToCart{
      height: 57px;
      font-size: 23px;
      border-top: 1px solid #a7a7a7;
      border-right: 1px solid #a7a7a7;
    }
    
  }
</style>

<script>
    // This button will increment the value
    $('.qtyplus').click(function(e){
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        let fieldName = $(this).attr('field');
        // Get its current value
        //let currentVal = parseInt($('input[id='+fieldName+']').val());
      	let currentVal = parseInt(($(this).siblings('.field')).val());

        // If is not undefined
        if (!isNaN(currentVal)) {
            // Increment
            //$('input[id='+fieldName+']').val(currentVal + 1);
          	$(this).siblings('.field').val(currentVal + 1);
        } else {
            // Otherwise put a 0 there
            //$('input[id='+fieldName+']').val(0);
            $(this).siblings('.field').val(0);

        }
    });
    // This button will decrement the value till 0
    $(".qtyminus").click(function(e) {
        // Stop acting like a button
        e.preventDefault();
        // Get the field name
        fieldName = $(this).attr('field');
        // Get its current value
        //var currentVal = parseInt($('input[id='+fieldName+']').val());
        let currentVal = parseInt(($(this).siblings('.field')).val());

        // If it isn't undefined or its greater than 0
        if (!isNaN(currentVal) && currentVal > 1) {
            // Decrement one
            //$('input[id='+fieldName+']').val(currentVal - 1);
          	$(this).siblings('.field').val(currentVal - 1);
        } else {
            // Otherwise put a 0 there
			//$('input[id='+fieldName+']').val(0);
               $(this).siblings('.field').val(1);

        }
    });

  
  r(function(){
    if( $(window).width() < 1220 ){
      $('.thumbnail-slider').bxSlider({
        mode: 'vertical',
        minSlides: 5,
        slideMargin: 20,
        infiniteLoop: false,
        pager: false,
        prevText: "",
        nextText: "",
        hideControlOnEnd: false
      });
      $('.product-thumbnail').css('margin-bottom', '10px' );
      $('.bx-viewport').css('height', '331px' );    
    };
    
  });

  function r(f){/in/.test(document.readyState)?setTimeout('r('+f+')',9):f()}
  
  

</script>