<div class="share-icons">
  <a title="{{ 'social.icons.pinterest' | t }}" target="blank" href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&amp;media={{ product.images[0] | product_img_url: '1024x1024' | prepend: 'http:' }}" title="Pin This Product" class="pinterest">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0.847cm" height="0.811cm">
		<path fill-rule="evenodd"  fill="grey"
 		d="M12.044,0.396 C5.626,0.396 0.424,5.458 0.424,11.701 C0.424,17.945 5.626,23.005 12.044,23.005 C18.461,23.005 23.663,17.945 23.663,11.701 C23.663,5.458 18.461,0.396 12.044,0.396 ZM13.112,15.124 C12.254,15.124 11.446,14.663 11.168,14.138 C11.168,14.138 10.706,15.960 10.608,16.311 C10.443,16.905 10.125,17.498 9.831,17.968 C9.410,18.502 8.925,18.106 8.867,17.618 C8.848,17.076 8.868,16.434 9.007,15.849 C9.160,15.208 10.030,11.541 10.030,11.541 C10.030,11.541 9.776,11.037 9.776,10.291 C9.776,9.119 10.459,8.245 11.311,8.245 C12.034,8.245 12.384,8.786 12.384,9.432 C12.384,10.154 11.920,11.236 11.681,12.237 C11.482,13.075 12.105,13.758 12.937,13.758 C14.445,13.758 15.461,11.835 15.461,9.556 C15.461,7.823 14.286,6.528 12.149,6.528 C9.735,6.528 8.231,8.316 8.231,10.312 C8.231,11.001 8.435,11.488 8.756,11.862 C8.903,12.035 8.924,12.105 8.870,12.303 C8.832,12.449 8.745,12.798 8.709,12.938 C8.656,13.138 8.492,13.209 8.311,13.135 C7.198,12.683 6.681,11.474 6.681,10.116 C6.681,7.870 8.587,5.177 12.368,5.177 C15.406,5.177 17.405,7.361 17.405,9.705 C17.406,12.807 15.671,15.124 13.112,15.124 Z"/>
    </svg>
  </a>
  <a href="//www.facebook.com/sharer.php?u={{ shop.url }}{% if template contains 'blog' or template == 'article' %}{{ article.url }}{% else %}{{ product.url }}{% endif %}" class="facebook" target="_blank">
 	<svg color="grey"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     width="0.494cm" height="0.776cm">
    	<path fill-rule="evenodd"  fill="grey"s
    	 d="M12.582,0.004 L9.609,0.000 C6.269,0.000 4.110,2.124 4.110,5.410 L4.110,7.905 L1.121,7.905 C0.863,7.905 0.653,8.106 0.653,8.353 L0.653,11.968 C0.653,12.216 0.863,12.416 1.121,12.416 L4.110,12.416 L4.110,21.537 C4.110,21.784 4.319,21.985 4.578,21.985 L8.478,21.985 C8.736,21.985 8.945,21.784 8.945,21.537 L8.945,12.416 L12.440,12.416 C12.699,12.416 12.908,12.216 12.908,11.968 L12.909,8.353 C12.909,8.234 12.860,8.120 12.772,8.036 C12.685,7.952 12.566,7.905 12.442,7.905 L8.945,7.905 L8.945,5.790 C8.945,4.774 9.198,4.258 10.578,4.258 L12.582,4.257 C12.840,4.257 13.049,4.057 13.049,3.809 L13.049,0.453 C13.049,0.206 12.840,0.005 12.582,0.004 Z"/>
    </svg>
  </a>
</div>




<!-- Instagram button- Instagram doesn't allow sharing  -->
<!-- <a title="{{ 'social.icons.instagram' | t }}" target="blank" href="//pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&amp;media={{ product.images[0] | product_img_url: '1024x1024' | prepend: 'http:' }}" title="Share on Instagram" class="Instagram">
  <svg 
       xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink"
       width="0.847cm" height="0.776cm">
    <path fill-rule="evenodd"  fill="grey"
          d="M22.446,0.833 C21.859,0.280 21.155,0.003 20.335,0.003 L2.990,0.003 C2.170,0.003 1.467,0.280 0.879,0.833 C0.292,1.386 -0.002,2.049 -0.002,2.821 L-0.002,19.157 C-0.002,19.929 0.292,20.592 0.879,21.145 C1.467,21.698 2.170,21.975 2.990,21.975 L20.335,21.975 C21.155,21.975 21.859,21.698 22.446,21.145 C23.034,20.592 23.327,19.929 23.327,19.157 L23.327,2.821 C23.327,2.049 23.034,1.386 22.446,0.833 ZM8.375,7.921 C9.291,7.086 10.392,6.669 11.678,6.669 C12.974,6.669 14.080,7.086 14.997,7.921 C15.913,8.755 16.371,9.764 16.371,10.946 C16.371,12.128 15.913,13.137 14.997,13.971 C14.080,14.805 12.974,15.224 11.678,15.224 C10.392,15.224 9.291,14.805 8.375,13.971 C7.458,13.137 7.000,12.128 7.000,10.946 C7.000,9.764 7.458,8.755 8.375,7.921 ZM20.685,18.571 C20.685,18.818 20.593,19.026 20.411,19.192 C20.229,19.360 20.011,19.443 19.758,19.443 L3.522,19.443 C3.259,19.443 3.038,19.360 2.861,19.192 C2.684,19.026 2.596,18.818 2.596,18.571 L2.596,9.301 L4.737,9.301 C4.535,9.901 4.433,10.527 4.433,11.175 C4.433,13.006 5.142,14.567 6.560,15.860 C7.977,17.152 9.683,17.798 11.678,17.798 C12.994,17.798 14.209,17.503 15.323,16.911 C16.437,16.319 17.318,15.516 17.966,14.501 C18.614,13.485 18.938,12.376 18.938,11.175 C18.938,10.527 18.837,9.902 18.634,9.301 L20.685,9.301 L20.685,18.571 L20.685,18.571 ZM20.685,5.796 C20.685,6.073 20.584,6.306 20.381,6.498 C20.178,6.688 19.930,6.783 19.636,6.783 L16.994,6.783 C16.700,6.783 16.452,6.688 16.250,6.498 C16.047,6.306 15.946,6.073 15.946,5.796 L15.946,3.436 C15.946,3.169 16.047,2.938 16.250,2.743 C16.452,2.547 16.700,2.449 16.994,2.449 L19.636,2.449 C19.930,2.449 20.178,2.547 20.381,2.743 C20.584,2.938 20.685,3.169 20.685,3.436 L20.685,5.796 Z"/>
  </svg>
</a> -->