<div id="customer-wrapper" class="desktop-12 mobile-3">
  
  <div class="desktop-12 login-bg">
    <div class="desktop-7 mobile-3">
    <img src="{{ 'account-header.png' | file_img_url: 'master'}}" alt="account-header">
    </div>
    <div class="desktop-5 mobile-3">
      <div class="inner_text">
        <h1> התחברי</h1>
        <span class="subtitle">ותתחילי להרגיש את היופי</span>
      </div>
    </div>
    
  </div>
  <!-- Create Customer -->
  <div id="create-customer" class="desktop-6 mobile-3 mobile-hide">
    <div class="template_header">
      <h2 class="title">{{ 'customer.register.title' | t }}</h2>
    </div>

  {% include 'customer-registration'%}
  </div>

  <!-- End Create Account -->

  <!-- Left Side -->

  <div id="template" class="desktop-6 tablet-6 mobile-3">

    <!-- Guest Checkout login -->

    {% if shop.checkout.guest_login %}
    <div id="guest" class="desktop-12 mobile-3">
      <div class="template_header">
        <h2>{{ 'customer.login.guest_title' | t }}</h2>
        {% form 'guest_login' %}
        <input class="secondary button" type="submit" value="{{ 'customer.login.guest_continue' | t }}" />
        {% endform %}
      </div>
    </div>
    {% endif %}

    <div class="clear"></div>


    <!-- End Guest Checkout login -->
    <!-- Customer Login -->


    <div id="customer" class="boaideas desktop-12 tablet-3 mobile-3">
      <div class="template_header">
        <h2>{{ 'customer.login.title' | t }}</h2>
      </div>

      {% form 'customer_login' %}
      {{ form.errors | default_errors }}

      <div id="login_email" class="clearfix large_form">
        <label for="customer_email" class="login">{{ 'customer.login.email' | t }}</label>
        <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" />
      </div>

      {% if form.password_needed %}

      <div id="login_password" class="clearfix large_form">
        <label for="customer_password" class="login">{{ 'customer.login.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
        <div id="forgot_password">
          <a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
        </div>
      </div>

      {% endif %}

      <div class="action_bottom">
        <input class="secondary button" type="submit" value="{{ 'customer.login.sign_in' | t }}" />
        <span class="md-d-block sm-d-block text-center mobile-3">{{ 'customer.login.create_account' | t | customer_register_link }}</span>
      </div>

      {% endform %}
    </div>


    <!-- End Customer Login -->
    <!-- Password Recovery -->


    <div id="recover-password" class="boaideas desktop-12 mobile-3" style='display:none'>
      <div class="template_header">
        <h2>{{ 'customer.recover_password.title' | t }}</h2>
        <p class="note">{{ 'customer.recover_password.subtext' | t }}</p>
      </div>

      {% form 'recover_customer_password' %}
      
      {% if form.posted_successfully? %}
      <script>
        window.location = "/pages/reset-password";
      </script>
      {% else %}

      {{ form.errors | default_errors }}

      
      
      <div id="recover_email" class="clearfix large_form">
        <label for="email" class="large">{{ 'customer.recover_password.email' | t }}</label>
        <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
      </div>

      <div class="action_bottom">
        <input class="secondary button" type="submit" value="{{ 'customer.recover_password.submit' | t }}" />
        <span class="note"><a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a></span>
      </div>
      {% endif%}
      {% endform %}
    </div>
  </div>


    <!-- End Left Side -->


    <!-- End Password Recovery -->
    <!-- end Create Account -->

</div>
<style>

#create-customer, #customer, #recover-password { border: 1px solid #000; padding: 3rem 5rem; }
  .inner_text{padding: 110px 12% 110px 0;}
  .subtitle {font-size: 1.5rem; font-style: italic; line-height: 2.5; }
  @media screen and (max-width: 980px) and (min-width: 739px){ 
  .inner_text { padding: 40px 10px 70px 0; }
  }
  @media screen and (max-width: 740px) {
  	#create-customer, #customer, #recover-password { padding: 2rem 1rem; }
    .inner_text { padding: 1rem; text-align: center; }
  }
  
    
  .hide { display:none; }
  .show { display:block; }
  #AcceptMarketingMessage { color:red; }
</style>
<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'inline-block';
    document.getElementById('customer').style.display='none';
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('customer').style.display = 'inline-block';
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }
  
</script>
