<div data-section-id="{{ section.id }}">
  <div id="content" class="row">  
    <div class="section-title row is-collection-sec">
    <h2>
      <a href="/collections/new">
       {{section.settings.title}}
      </a>
    </h2>
  </div>
    {% if section.settings.text != blank %}
    <div id="collection-description" class="desktop-12 tablet-6 mobile-3">
      <div class="rte">
        {{ section.settings.text }}
      </div>
    </div>
    {% endif %}
    {% for collection in collections %}
    <div id="product-loop" class="{{ collection.handle }} collection-listing desktop-4 tablet-6 mobile-3">
      <div class="section-title">
        {% comment %}<h2><a href="{{ collection.url }}" title="{{ collection_title }}">{{ collection.title }}</a></h2>{% endcomment %}
        <div class="collection_image">
          <a href="{{ collection.url }}" title="{{ collection_title }}">
          {% if collection.image %}
      {{ collection.image.src | collection_img_url: '300x' | img_tag: collection_title }}
      {% else %}
      <img class="lazyload" data-src="{{ collection.products.first | img_url: '300x' }}"  alt="{{ collection.title | escape }}" />
          </a>
      {% endif %}
        </div>
      </div>
      {% comment %}<div class="clear"></div>
      {% for product in collection.products limit: 4 %}
      <div class="product-collection desktop-3{% cycle ' first', '', '', ' last' %} tablet-half mobile-half" id="prod-{{ product.id }}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">
        {% include 'product-listing' %}
      </div>
      {% endfor %}
      {% endcomment %}
    </div>
    {% comment %}<div class="clear"></div>{% endcomment %}
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "Collections list",
    "settings": [
		 {
          "type": "text",
          "id": "title",
          "label": "Title of section"
        },        
	
    {
        "id": "text",
        "type": "richtext",
        "label": "Text",
        "default": "<p>Add some descriptive text to your all collections page.</p>"
     }
	]
  }
{% endschema %}
