{% assign settings_ = section.settings %}
<style>
    .ll-faqs-section {
        order: {{ section.settings.order }};
    }
</style>
  <div class="faq-accordions">
    <h2 class="tiers-title">{{ settings_.header }}</h2>
    {% if settings_.subheading != '' %}<div class="tiers-subheading">{{ settings_.subheading }}</div>{% endif %}      
    <section class="loyaltylion-faqs">
        {% for block in section.blocks %}
            <details>
                <summary>{{ block.settings.question }}</summary>
                {{ block.settings.answer }}
            </details>       
        {% endfor %}
  </section> 
  </div>

  {% schema %}

  {
    "name": "Faq",
    "class": "ll-faqs-section page-width",
    "settings": [
      {
          "type": "text",
          "id": "header",
          "label": "Header"
      },
      {
          "type": "html",
          "id": "subheading",
          "label": "Text",
          "info": "Here you can include custom HTML."
      },
      {
          "type":      "select",
          "id":        "order",
          "label":     "Order",
          "options": [
              {
                  "value": "1",
                  "label": "1"
              },
              {
                  "value": "2",
                  "label": "2"
              },
              {
                  "value": "3",
                  "label": "3"
              },
              {
                  "value": "4",
                  "label": "4"
              },
              {
                  "value": "5",
                  "label": "5"
              },
              {
                  "value": "6",
                  "label": "6"
              },
              {
                  "value": "7",
                  "label": "7"
              },
              {
                  "value": "8",
                  "label": "8"
              },
              {
                  "value": "9",
                  "label": "9"
              },
              {
                  "value": "10",
                  "label": "10"
              },
              {
                  "value": "11",
                  "label": "11"
              },
              {
                  "value": "12",
                  "label": "12"
              },
              {
                  "value": "13",
                  "label": "13"
              },
              {
                  "value": "14",
                  "label": "14"
              }
          ],
          "default":   "4"
      },
      {
        "type": "header",
        "content": "Visibility"
      },
      {
        "type": "checkbox",
        "id": "guest_vs",
        "label": "Guest",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "user_vs",
        "label": "Logged in",
        "default": true
      }
      ],
      "blocks": [
      {
          "type": "custom",
          "name": "FAQ",
          "settings": [
              {
                "type": "header",
                "content": "Question"
              },
              {
                  "type": "text",
                  "id": "question",
                  "label": "Question"
              },
              {
                "type": "header",
                "content": "Answer"
              },
              {
                  "type": "richtext",
                  "id": "answer",
                  "label": "Answer"
              }                              
          ]         
      }
    ]   
  }
  
  {% endschema %}