{% assign settings_ = section.settings %}

<style>
    .ll-login-section {
        order: {{ settings_.order }};
        position: relative;
        {% if settings_.bg_img %}
            height: 420px;
            background-image: url({{ settings_.bg_img | img_url: 'master' }}) !important;
            background-size: cover;
            background-repeat: no-repeat;
        {% endif %}
    }
</style>
{% if customer %}
    <div class="loyalty-lion-logged-top">
        <div class="loyalty-lion-logged-top-text">
            <h1 class="welcome_msg">{{ settings_.welcome_msg }}</h1>
            <p class="name">{{ customer.first_name }} {{ customer.last_name | slice: 0 }}.</p>
            <div class="points-msg"> 
                {{ settings_.points_msg }}
                <p class="total-points"><span data-lion-points></span></p>
                <p><strong><a href="/account/logout?return_url=/pages/rewards" class="d-n">{{ 'customer.account.disconnect' | t }}</a></strong></p>
            </div>
        </div>
    </div>
{% else %}
    <div class="loyalty-lion-customer-login">
        <div class="loyalty-lion-text">
            <h1 class="welcome_msg">{{ settings_.program_header }}</h1>
            <div class="logo"><img src="{{ 'logo.png' | asset_img_url: 'master' }}" width:="130px" height:="30px" alt="{{ shop.name }}" /></div>
            <div class="long-msg center"> 
                {{ settings_.long_msg }}
            </div>
    <!-- Customer Login -->


    <div id="customer" class="boaideas desktop-12 tablet-3 mobile-3">  
        {% form 'customer_login' %}
        {{ form.errors | default_errors }}
        <input type="hidden" name="checkout_url" value="/pages/rewards">
  
        <div id="login_email" class="clearfix large_form floating-label">
          <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30" placeholder="" />
          <label for="customer_email" class="login">{{ 'customer.login.email' | t }}</label>          
        </div>
  
        {% if form.password_needed %}
  
        <div id="login_password" class="clearfix large_form floating-label">
          <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" />
          <label for="customer_password" class="login">{{ 'customer.login.password' | t }}</label>
        </div>
        <div id="forgot_password">
            <a href="#" onclick="showRecoverPasswordForm();return false;">{{ 'customer.login.forgot_password' | t }}</a>
        </div>  
        {% endif %}
  
        <div class="action_bottom">
          <input class="" type="submit" value="{{ 'customer.login.sign_in' | t }}" />
          {% unless customer %}
          <div>אין לך חשבון?</div>
          <a href="/account/login?checkout_url=/pages/rewards" class="signup js-signup">הירשמו עכשיו וקבלו 1000 נקודות</a>
          {% endunless %}
        </div>
  
        {% endform %}
      </div>
      <div id="recover-password" class="boaideas desktop-12 mobile-3" style='display:none'>
        <div class="template_header">
          <h2>{{ 'customer.recover_password.title' | t }}</h2>
          <p class="note">{{ 'customer.recover_password.subtext' | t }}</p>
        </div>
  
        {% form 'recover_customer_password' %}
        
        {% if form.posted_successfully? %}
        <script>
          window.location = "/pages/reset-password";
        </script>
        {% else %}
  
        {{ form.errors | default_errors }}
  
        
        
        <div id="recover_email" class="clearfix large_form">
          <label for="email" class="large">{{ 'customer.recover_password.email' | t }}</label>
          <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
        </div>
  
        <div class="action_bottom">
          <input class="secondary button" type="submit" value="{{ 'customer.recover_password.submit' | t }}" />
          <span class="note"><a href="#" onclick="hideRecoverPasswordForm();return false;">{{ 'customer.recover_password.cancel' | t }}</a></span>
        </div>
        {% endif%}
        {% endform %}
      </div>      
  
  
      <!-- End Customer Login -->





        </div>
    </div>
{% endif %}


<script type="text/javascript">
    function showRecoverPasswordForm() {
      document.getElementById('recover-password').style.display = 'inline-block';
      document.getElementById('customer').style.display='none';
    }
  
    function hideRecoverPasswordForm() {
      document.getElementById('recover-password').style.display = 'none';
      document.getElementById('customer').style.display = 'inline-block';
    }
  
    if (window.location.hash == '#recover') { showRecoverPasswordForm() }
    
  </script>
  

{% schema %}

{
  "name": "Login section",
  "class": "ll-login-section",
  "settings": [{
        "type":      "select",
        "id":        "order",
        "label":     "Order",
        "options": [
            {
                "value": "1",
                "label": "1"
            },
            {
                "value": "2",
                "label": "2"
            },
            {
                "value": "3",
                "label": "3"
            },
            {
                "value": "4",
                "label": "4"
            },
            {
                "value": "5",
                "label": "5"
            },
            {
                "value": "6",
                "label": "6"
            },
            {
                "value": "7",
                "label": "7"
            },
            {
                "value": "8",
                "label": "8"
            },
            {
                "value": "9",
                "label": "9"
            },
            {
                "value": "10",
                "label": "10"
            },
            {
                "value": "11",
                "label": "11"
            },
            {
                "value": "12",
                "label": "12"
            },
            {
                "value": "13",
                "label": "13"
            },
            {
                "value": "14",
                "label": "14"
            }
        ],
        "default":   "1"
    },
    {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background imgae"
    },
    {
      "type": "header",
      "content": "Guest"
    },
    {
        "type": "text",
        "id": "program_header",
        "label": "Header",
        "default": "Loyalty Program"
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Optional sub heading image"
    },     
    {
        "type": "richtext",
        "id": "long_msg",
        "label": "Subheading"
    },   
    {
      "type": "header",
      "content": "Logged Customer"
    },
    {
        "type": "text",
        "id": "welcome_msg",
        "label": "Header",
        "default": "Welcome,"
    },
    {
        "type": "richtext",
        "id": "points_msg",
        "label": "Text before points",
        "default": "<p>Loyalty Points:</p>"
    },
    {
      "type": "header",
      "content": "Buttons"
    },
    {
        "type":      "select",
        "id":        "btn_shape",
        "label":     "Button shape",
        "options": [
            {
                "value": "pill",
                "label": "pill"
            },
            {
                "value": "square",
                "label": "square"
            },
            {
                "value": "squircle",
                "label": "squircle"
            }
        ],
        "default":   "squircle"
    },
    {
        "type": "text",
        "id": "register_text",
        "label": "Register button text",
        "default": "Sign Up"
    },
    {
        "type": "text",
        "id": "login_text",
        "label": "Login button text",
        "default": "Log In"
    }
    ]
}

{% endschema %}