{% assign settings_ = section.settings %}
{% if customer and settings_.user_vs %}
    {% assign if_customer = true %}
{% else %}
    {% assign if_customer = false %}
{% endif %}

{% assign if_g = settings_.guest_vs %}
{% if customer %}
    {% if if_g and customer and settings_.user_vs %}
        {% assign if_g = true %}
    {% elsif if_g and customer and settings_.user_vs == false %}
        {% assign if_g = false %}
    {% endif %}
{% endif %}

{% if if_g or if_customer %}
    <style>
    .ll-rules-section {
        order: {{ settings_.order }};
    }
    {% for block in section.blocks %}
        {% if block.settings.show_box %}
            {% if block.settings.icon %}
                {% if block.settings.bg_img %}
                    .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} { position: relative; }
                    .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content:before { 
                        content: '';
                        width: 100%;
                        height: 100%;
                        background-image: url({{ block.settings.icon |  img_url: '420x' }}) !important; 
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content { 
                        background-color: {{block.settings.bg_color}}40;
                    }
                    {% if block.settings.bg_color == 'rgba(0,0,0,0)' %}
                        .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content { 
                            background-color: transparent !important;
                        }
                    {% endif %}
                    .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__icon {
                        visibility: hidden;
                    }
                {% else %}
                    .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__icon {
                        visibility: hidden;
                    }
                    .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__icon:before {
                        content: url({{ block.settings.icon |  img_url }}); 
                        visibility: visible;
                    }
                    .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content { 
                        background-color: {{block.settings.bg_color}};
                    }
                    {% if block.settings.bg_color == 'rgba(0,0,0,0)' %}
                        .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content { 
                            background-color: transparent !important;
                        }
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if block.settings.text_icon != '' %}
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__icon:after {
                    content: "{{ block.settings.text_icon }}"; 
                    visibility: visible;
                }
            {% endif %}
            {% if  block.settings.display_title == false %}
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__title { display: none;}
            {% endif %}
            {% if block.settings.display_desc == false %}
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__points { display: none;}
            {% endif %}
            {% if block.settings.btn_shape == 'pill' %}
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__button { border-radius: 25px; }
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__button:after { border-radius: 25px; }
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__completed-forever:after { content: {{ settings_.completed_text|json}}; }
            {% elsif block.settings.btn_shape == 'square' %}
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__button { border-radius: 0px; }
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__completed-forever:after { border-radius: 0px; }
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content:before { border-radius: 0px; }
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__button:after { border-radius: 0px; }
            {% elsif block.settings.btn_shape == 'squircle' %}
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__button { border-radius: 5px; }
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__completed-forever:after { border-radius: 5px; }
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__button:after { border-radius: 5px; }
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content:before { border-radius: 5px; }
            {% endif %}
        {% else %}
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} { display: none; }
        {% endif %}
        {% assign color_check = block.settings.btn_color | color_to_hex %}
        {% if color_check !=  '#0e2d5a' %}
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__button,
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__completed-forever:after,
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__button:after { 
                background: {{ block.settings.btn_color }}; 
            }
         {% endif %}
        {% if block.settings.rule_title != '' %}
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__title {
                visibility: hidden;
                position: relative;
                width: 100%;
            }
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__title:after {
                content: {{block.settings.rule_title|json}};
                visibility: initial;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
            }
        {% endif %}
        {% if block.settings.desc != '' %}
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__points {
                visibility: hidden;
                position: relative;
                width: 100%;
            }
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__points:after {
                content: {{block.settings.desc|json}};
                visibility: initial;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
            }
        {% endif %}
        {% if block.settings.btn_txt != '' %}
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__button {
                visibility: hidden;
                position: relative;
            }
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__button:after {
                content: {{block.settings.btn_txt|json}};
                visibility: initial;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
            }
            {% if block.settings.title ==  'product-purchase' or block.settings.title == 'collection-purchase' %}
                .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content:before { 
                    content: {{block.settings.btn_txt|json}};
                } 
            {% endif %}
        {% endif %}
        {% if block.settings.width == '1' %}
        {% elsif block.settings.width == '2' and settings_.row == '4' %}
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} {
                flex: 1 0 50%  !important;
            }
        {% elsif block.settings.width == '2' and settings_.row == '3' %}
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} {
                flex: 1 0 66%  !important;
            }
        {% elsif block.settings.width == '3'  and settings_.row == '4' %}
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} {
                flex: 1 0 75%  !important;
            }
        
        {% elsif block.settings.width == '3'  and settings_.row == '4' %}
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} {
                flex: 1 0 100%  !important;
            }
        {% elsif block.settings.width == '4' %}
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} {
                flex: 1 0 100%  !important;
            }
        {% endif %}
        {% assign color_check = block.settings.txt_color | color_to_hex %}
        {% if color_check !=  '#0e2d5a' %}
            .ll-rules-section .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}}  .lion-rule-item__content .lion-rule-item__title, 
            .ll-rules-section .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}}  .lion-rule-item__content .lion-rule-item__points *,
            .ll-rules-section .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}}  .lion-rule-item__content .lion-rule-item__points:after,
            .lion-rules-list .lion-rule-item.lion-rule-item--{{block.settings.title}} .lion-rule-item__content .lion-rule-item__icon:after {
                color: {{ block.settings.txt_color }};
            }
        {% endif %}
    {% endfor %}
    </style>
    <h2 class="rules-title page-width">{{ settings_.header }}</h2>
    {% if settings_.subheading != '' %}<div class="rules-subheading">{{ settings_.subheading }}</div>{% endif %}
    <div class="items-{{ settings_.row }}" data-lion-rules-list></div>

    <script>
    document.addEventListener('DOMContentLoaded', function (event) {
        var load_rules = function (num){
            {% for block in section.blocks %}
                {% if block.settings.btn_link %}
                $('body').on('click','.ll-rules-section .lion-rules-list .lion-rule-item', function (){
                    var win =  window.open('{{ block.settings.btn_link }}', '_blank');
                    win.focus();
                })
                {% endif %}
            {% endfor %}
        }
      load_rules(0);


    // Wrap block content if background image
      var checkExist = setInterval(function () {
            if ($('.lion-rules-list .lion-rule-item').length != 0) { 

                const customertotalPoints = parseInt($('[data-lion-points]').text());
                var pointsNeededText = $('.lion-reward-item__redeem-button--disabled')
                $(pointsNeededText).each(function() {
                    var pointsNeeded = parseInt($(this).prevAll('.lion-reward-item__meta').find('.value').text()) * 1000;
                    if (customertotalPoints < pointsNeeded) { 
                        $(this).text((pointsNeeded - customertotalPoints) + ' more points needed');
                    }
                });
                
                // Birthday text
                const birthdayText = {{ settings_.birthday_text | json}};
                if(birthdayText != '') {
                    const customerBirthday = $('.lion-rule-item--birthday .lion-rule-item__limit-reached').text() + birthdayText
                    $('.lion-rule-item--birthday .lion-rule-item__limit-reached').text(customerBirthday)
                };

                // Tiers 'You are here text'
                const curentTierText = $('.lion-tier-box__you-are-here').text();
                $('.lion-tier-box--current .lion-tier-box__sub-title').text(curentTierText);
                $('.lion-tier-box--previous .lion-tier-box__sub-title').text('Your Current Tier');


                // Order history date change
                if ($('.lion-history-table__row-date').length != 0) {
                    const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                    let dateString,
                    dateParts,
                    dateObject;

                    // Loop through each date cell and update its text
                    var dateCells = $('.lion-history-table__row-date');
                        $(dateCells).each(function() {
                        dateString = this.innerText.replaceAll('.','/');
                        dateParts = dateString.split("/");
                        dateObject = new Date(+dateParts[2], dateParts[1] - 1, +dateParts[0]); 
                        this.innerText = `${dateObject.getDay()} ${months[dateObject.getMonth()]}  ${dateObject.getFullYear()}`;
                    })
                };
                    
                setTimeout(function(){ 
                 // element that will be wrapped
                    $( ".lion-rule-item__content" ).wrapInner(function() {
                    return "<div class='bg-caption'></div>";
                    });

                }, 1000);
                clearInterval(checkExist);

                {% if if_customer %}
                    $('.lion-rule-item--signup').remove();
                {% endif %}
            }
        }, 300) 
    });
    </script>
{% endif %}

{% schema %}

{
  "name": "Rules",
  "class": "ll-rules-section",
  "settings": [
    {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "Earn Points"
    },
    {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading"
    },
    {
        "type": "header",
        "content": "Completed text"
    },
    {
        "type": "text",
        "id": "completed_text",
        "label": "For the rule completed text"
    },     
    {
        "type": "header",
        "content": "Birthday text"
    },
    {
        "type": "text",
        "id": "birthday_text",
        "label": "For the birthday text block"
    },    
    {
        "type":      "select",
        "id":        "order",
        "label":     "Order",
        "options": [
            {
                "value": "1",
                "label": "1"
            },
            {
                "value": "2",
                "label": "2"
            },
            {
                "value": "3",
                "label": "3"
            },
            {
                "value": "4",
                "label": "4"
            },
            {
                "value": "5",
                "label": "5"
            },
            {
                "value": "6",
                "label": "6"
            },
            {
                "value": "7",
                "label": "7"
            },
            {
                "value": "8",
                "label": "8"
            },
            {
                "value": "9",
                "label": "9"
            },
            {
                "value": "10",
                "label": "10"
            },
            {
                "value": "11",
                "label": "11"
            },
            {
                "value": "12",
                "label": "12"
            },
            {
                "value": "13",
                "label": "13"
            },
            {
                "value": "14",
                "label": "14"
            }
        ],
        "default":   "2"
    },
    {
      "type": "header",
      "content": "Visibility"
    },
    {
      "type": "checkbox",
      "id": "guest_vs",
      "label": "Guest",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "user_vs",
      "label": "Logged in",
      "default": true
    },
    {
        "type":      "select",
        "id":        "row",
        "label":     "Rules in the row",
        "options": [
            {
                "value": "1",
                "label": "1"
            },
            {
                "value": "2",
                "label": "2"
            },
            {
                "value": "3",
                "label": "3"
            },
            {
                "value": "4",
                "label": "4"
            }
        ],
        "default":   "3"
    }
  ],
  "blocks": [
    {
        "type": "custom",
        "name": "Rule",
        "settings": [
            {
                "type":      "select",
                "id":        "title",
                "label":     "Rule",
                "options": [
                    {
                        "value": "purchase",
                        "label": "Make a purchase"
                    },
                    {
                        "value": "referral",
                        "label": "Refer a friend"
                    },
                    {
                        "value": "instagram-follow",
                        "label": "Instagram"
                    },
                    {
                        "value": "facebook-like",
                        "label": "Facebook"
                    },
                    {
                        "value": "twitter-follow",
                        "label": "Twitter"
                    },
                    {
                        "value": "birthday",
                        "label": "Birthday"
                    },
                    {
                        "value": "newsletter-signup",
                        "label": "Newsletter"
                    },
                    {
                        "value": "signup",
                        "label": "Create an account"
                    },
                    {
                        "value": "stampedio-review",
                        "label": "Write a review"
                    },
                    {
                        "value": "pageview",
                        "label": "Visit a website"
                    },
                    {
                        "value": "collection-purchase",
                        "label": "Collection purchase"
                    },
                    {
                        "value": "product-purchase",
                        "label": "Product purchase"
                    }
                ]
            },
            {
              "type": "paragraph",
              "content": "To remove rule you have to disable it in the app."
            },
            {
                "type": "checkbox",
                "id": "show_box",
                "label": "Show rule",
                "default": true
            },
            {
                "type":      "select",
                "id":        "width",
                "label":     "Tile width",
                "options": [
                    {
                        "value": "1",
                        "label": "1"
                    },
                    {
                        "value": "2",
                        "label": "2"
                    },
                    {
                        "value": "3",
                        "label": "3"
                    },
                    {
                        "value": "4",
                        "label": "4"
                    }
                ],
                "default":   "1"
            },
            {
              "type": "header",
              "content": "Icon / Image"
            },
            {
                "type": "checkbox",
                "id": "bg_img",
                "label": "Background image",
                "default": false,
                "info": "Image will have overlay with color below. Opacity 75%."
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "Background color",
                "default": "#ffffff"
            },
            {
              "type": "image_picker",
              "id": "icon",
              "label": "Image/Icon"
            },
            {
                "type": "text",
                "id": "text_icon",
                "label": "Text under icon"
            },
            {
              "type": "header",
              "content": "Title"
            },
            {
                "type": "checkbox",
                "id": "display_title",
                "label": "Display title",
                "default": true
            },
            {
                "type": "text",
                "id": "rule_title",
                "label": "Rule title",
                "info": "Leave this field empty to use settings from Loyalty Lion app."
            },
            {
                "type": "color",
                "id": "txt_color",
                "label": "Text color",
                "default": "#0E2D5A"
            },
            {
              "type": "header",
              "content": "Description"
            },
            {
                "type": "checkbox",
                "id": "display_desc",
                "label": "Display description",
                "default": true
            },
            {
                "type": "text",
                "id": "desc",
                "label": "Description",
                "info": "Leave this field empty to use settings from Loyalty Lion app."
            },
            {
              "type": "header",
              "content": "Button"
            },
            {
                "type":      "select",
                "id":        "btn_shape",
                "label":     "Button shape",
                "options": [
                    {
                        "value": "pill",
                        "label": "pill"
                    },
                    {
                        "value": "square",
                        "label": "square"
                    },
                    {
                        "value": "squircle",
                        "label": "squircle"
                    }
                ],
                "default":   "pill"
            },
            {
                "type": "color",
                "id": "btn_color",
                "label": "Button color",
                "default": "#0E2D5A"
            },
            {
                "type": "text",
                "id": "btn_txt",
                "label": "Button text",
                "info": "Leave this field empty to use settings from Loyalty Lion app."
            },
            {
                "type": "url",
                "id": "btn_link",
                "label": "Button link",
                "info": "Leave this field empty to use settings from Loyalty Lion app."
            }           
        ]
    }
  ]
}

{% endschema %}